<a href="https://colab.research.google.com/github/Ahmethan96/Neural-netweok/blob/main/Predict%20car%20prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import torch
import torch.nn as nn
import pandas as pd
import matplotlib.pyplot as plt

import torch.nn.functional as F
from torch.utils.data import DataLoader, TensorDataset, random_split

In [ ]:
data_frame = pd.read_csv('car_models.csv')
data_frame.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
import random 
your_name = "ibrahim ahmethan"
print(ord("i"))
print(ord(your_name[0]))
print(ord(your_name[1]))
print(ord(your_name[2])) 
print(ord(your_name[3])) # unicode code of a specified character.
print(chr(105)) ## opposite of above 
def customize_dataset(data_frame, rand_str):

  new_data = data_frame.copy(deep = True)

  # new_data = new_data.sample(int(0.95*len(new_data)), random_state= int(ord(rand_str[0])))
  new_data = new_data.sample(int(0.95*len(new_data)), random_state= (random.randint(0,100)))

  new_data.Year = new_data.Year * ord(rand_str[1]) / 100

  new_data.Selling_Price = new_data.Selling_Price * ord(rand_str[2])/100

  # if ord(rand_str[3]) % 2 == 1:
  if random.randint(1, 100)> 0:
    new_data = new_data.drop(['Car_Name'], axis= 1)
    return new_data

new_data = customize_dataset(data_frame, your_name)
new_data.head() ## I had TypeError couple of time cuz def customize_dataset returnd non for some reason

105
105
98
114
97
i

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
209,1974.70,5.529,5.70,21125,Diesel,Dealer,Manual,0
119,1972.74,1.197,1.90,5400,Petrol,Individual,Manual,0
189,1964.90,0.228,0.57,55000,Petrol,Individual,Manual,0
38,1975.68,3.420,3.76,10079,Petrol,Dealer,Manual,0
152,1971.76,0.570,0.99,13000,Petrol,Individual,Manual,0

In [6]:
input_cols = ["Year","Present_Price","Kms_Driven","Owner"]
categorical_cols = ["Fuel_Type","Seller_Type","Transmission"]
output_cols = ["Selling_Price"]

In [8]:
def dataframe_to_arrays(dataframe):
    # Make a copy of the original dataframe
    new_data = dataframe.copy(deep=True)
    # Convert non-numeric categorical columns to numbers
    for col in categorical_cols:
        new_data[col] = new_data[col].astype('category').cat.codes
    # Extract input & outupts as numpy arrays
    inputs_array = new_data[input_cols].to_numpy()
    targets_array = new_data[output_cols].to_numpy()
    return inputs_array, targets_array

inputs_array, targets_array = dataframe_to_arrays(new_data)
inputs_array, targets_array